
#welcome {
	font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
	max-width: 100%;
	box-align: center;
	font-size: 5vw; /*or vh depends*/
	text-align: center;
	margin-top: 50px;
	color: pink;
	position: relative;    
	font-size: 100px;
} 

#message {
	color: white;
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media screen and (min-width: 1200px){
	#welcome{
		font-size: 100px;
	}
}